<%= render "shared/errors", obj: @article %>

<%= form_with(model: @article, local: true) do |form| %>
  <div class="article-form card shadow-lg col-8">
    <div class="input-group mb-3">
      <%= form.label :title, class: "input-group-text fs-4 text-light", id: "title-field" do %>
        Title:
      <% end %>
      <%= form.text_field :title, class: "form-control shadow-lg rounded", id: "basic-url", aria: { describedby: "title-field" }, placeholder:"Title of article" %>
    </div>

    <div class="input-group mb-4">
      <%= form.label :description, class: "input-group-text fs-4 text-light" do %>
        Description:
      <% end %>
      <%= form.text_area :description, class: "form-control shadow-lg rounded", rows: 10, placeholder:"Description" %>
    </div>

    <p class="form-button">
      <%= form.submit "Save article!", class: "mt-4 btn btn-lg btn-outline-light col-4 shadow-lg" %>
    </p>
  </div>
<% end %>

<div class="my-4">
  <%= link_to '[ Cancel and return to articles listing ]', articles_path, class:"mb-4 cancel-link text-info d-flex justify-content-center" %>
</div>
<br class="mb-4">
<br>
