<!--<p id="notice"><%= notice %></p>
-->
<h1 class="text-center my-4">Listing all articles</h1>

<div class="articles">
  <% @articles.reverse.each do |article| %>
    <div class="article-block my-4 shadow col-8">
      <div class="card text-center">
        <div class="card-header">
          <p class="fs-5 mt-3 fst-italic">by <%= article.user.username.capitalize if article.user %></p>
        </div>

        <div class="card-body">
          <h5 class="card-title"><%= link_to article.title, article_path(article), class:"text-success" %></h5>
          <div class="card-text"><%= simple_format(truncate(article.description, length: 50)) %></div>
          <div class="container">
            <%= link_to "View", article_path(article.id), class:"article-actions btn btn-outline-success" %>
            <%= link_to "Edit", edit_article_path(article.id), class:"article-actions btn btn-outline-info" %>
            <%= link_to "Delete", article_path(article.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"article-actions btn btn-outline-danger" %>
          </div>
        </div>
        <div class="card-footer text-muted">
          <p class="fs-6 mt-3">Created <%= time_ago_in_words(article.created_at) %> ago  <strong>|</strong>  Edited <%= time_ago_in_words(article.updated_at) %> ago</p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Article', new_article_path %>
