<h2 class="text-center my-4"><%= @article.title %></h2>

<div class="flex-n-center">
  <div class="article-block my-4 shadow col-8">
    <div class="card text-center">
      <div class="card-header">
        <p class="fs-5 mt-3 fst-italic">by <%= @article.user.username.capitalize if @article.user %></p>
        <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
      </div>

      <div class="card-body">
        <div class="card-text text-start mx-4"><%= simple_format(@article.description) %></div>
        <div class="container">
          <%= link_to "Edit", edit_article_path(@article.id), class:"article-actions btn btn-outline-info" %>
          <%= link_to "Delete", article_path(@article.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"article-actions btn btn-outline-danger" %>
        </div>
      </div>
      <div class="card-footer text-muted">
        <p class="fs-6 mt-3">Created <%= time_ago_in_words(@article.created_at) %> ago  
        <strong>|</strong>  Edited <%= time_ago_in_words(@article.updated_at) %> ago</p>
      </div>
    </div>
  </div>
</div>
